<html>

<head>
    <title>header</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-start">
            <p class="text-white display-2 p-4 col-6 lead md-display-3 sm-display-5 ">BIRDIE airlines Ltd.</p>
            <p class="text-white display-6 p-5 col-6 text-muted display-md-6 md-p3 d-none d-sm-block">the best one way ticket specialists...</p>
             
            
        </div>
    </div>

</body>

</html>